<% title "Artworks" %>

<div id="artwork_thumbs">
  <% for artwork in @artworks %>
    <div class="artwork_thumb">
      <%= image_tag artwork.image_url(:thumb) if artwork.image? %>
      <div class="title"><%= artwork.title %></div>
      <div class="actions">
		<%= link_to "show", artwork %> |
        <%= link_to "edit", edit_artwork_path(artwork) %> |
        <%= link_to "remove", artwork, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p><%= link_to "New Artwork", new_artwork_path %></p>
